:root{
    --main-font: 'Roboto'
    --secondary-font: 
}



.page{
color: #757575;
background-color: #FFFFFF;
font-family: Roboto, sans-serif
}
/* header */
.header{
    background-color: #FFFFFF;
    
}
.header-logo{
    display: flex;
    font-family: "Raleway",sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
color: #2196F3;

}
.logo-span{
color: #000000
    }

.header-logo,.logo-span{
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}


.header-link{
color: #212121;
}


/* comooon styles start */
.link{
text-decoration: none;
}
.list{
    list-style: none;
}
/* header section */
.header{
    background-color: #FFFFFF;
}
.header-list{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}

.header-item{
    color: #212121;
}
.header-link:hover,
.header-link:focus {
color: #2196F3;
}

.header-contact{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.header-contact:hover,
.header-contact:focus{
    color: #2196F3;
}

/* hero section */

.hero{
background-color: #2F303A;
}
.hero-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}


.hero-button{
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}

.btn{
font-family: inherit;    
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
background-color: transparent;
border: none;
color: #FFFFFF;
background-color: #2196F3;

}
.btn:hover,
.btn:focus {
 background-color: #188CE8;
 color: #FFFFFF;
}

.current-link{
    color: #2196F3;
}

/* section work */

.title-list{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}

.section-list{
    font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.71;
    letter-spacing: 0.03em;
    
        color: #757575;
}

/* section about */
 
.title-section{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

/* section team */

.title-name{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.profession{
    font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}

/* footer-section */
.footer-section{
    background-color: #2F303A;
}

.logo-white{
    color: #FFFFFF;;
}

.address{
    font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}
.address:hover,
.address:focus

/* section portfolio */

.btn-portfolio{
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: #212121
        background-color: #F5F4FA
}

.btn-portfolio:hover,
.btn-portfolio:focus{
    background-color: #2196F3;;
}

.current{
    background-color: #188CE8;
}
  
.title-portfolio{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: #212121;
}

.text-portfolio{
    font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
    
        color: #757575;
}