:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;

    /* fonts */
    --main-font-famaly: Roboto, sans-serif;
    --second-font-famaly: Raleway, sans-serif;
}



body{
font-family: var(--main-font-famaly);
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
background-color: var(--primary-white-color);

}
/* header */

.logo{
font-family: var(--second-font-famaly);
font-weight: 700;
font-size: 26px;
line-height: 1,19;
letter-spacing: 0.03em;
color: #000000
}


/* comooon styles start */
.link{
text-decoration: none;
}
.list{
    list-style: none;
}
/* header section */

.header-link
.header-contact{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-contact{
color: var(--secondary-text-color);
}

/* hero section */

.hero{
background-color: #2F303A;
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}


.hero-button{
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}

.btn{
font-family: inherit;    
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
cursor: pointer;
background-color: transparent;
border: none;
color: var(--primary-white-color);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 22px;
}
.btn:hover,
.btn:focus {
 background-color: var(--accent-color);
 color: var(--primary-white-color);
}

/* section work */

.title-list{
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}

.section-list{
line-height: 1.71;
color: var(--secondary-text-color);
}

/* section about */
 
.title-section{

        font-size: 36px;
        line-height: 1.16;
        text-align: center;
}

/* section team */

.title-name{

    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
}

.profession{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
    
        color: var(--secondary-text-color);
}

/* footer-section */
.footer-section{
    background-color: #2F303A;
}


.logo-white{
    color: var(--primary-white-color);
}


    
address{
    font-style: normal;
}


/* section portfolio */


.btn-portfolio{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
     padding: 6px 22px;
     border-radius: 4px;
     letter-spacing: 0.06em;
     cursor: pointer;
     background-color: transparent;
     border: none;
     color: var(--primary-text-color);
     background-color: #F5F4FA;
}

.btn-portfolio:hover,
.btn-portfolio:focus{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.title-portfolio{
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: #212121;
}

.text-portfolio{
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
    
        color: var(--primary-text-color);
}

.address{
font-style: normal;
}

.address-link{
    color: var(--primary-white-color);
}

.footer-address {
    font-size: 14px;
    line-height: 1,7;
    color: var(--primary-white-color);
}

.footer-section .logo{
color: var(--primary-white-color);
}

.footer-section .header-contact{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.accent,
.current {
    color: var(--accent-color);
}

.btn-portfolio .active{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}