



body{
font-family: Roboto, sans-serif;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
background-color: #FFFFFF;
color: #212121; 
}
/* header */

    
    

.header-logo{
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
color: #2196F3;

}
.logo-span{
color: #000000
    }

.header-logo,.logo-span{
font-weight: 700;
font-size: 26px;
line-height: 1,19;
letter-spacing: 0.03em;
}





/* comooon styles start */
.link{
text-decoration: none;
}
.list{
    list-style: none;
}
/* header section */

.header-list{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}

.header-item{
    color: #212121;
}
.header-link:hover,
.header-link:focus {
color: #2196F3;
}

.header-contact{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.header-contact:hover,
.header-contact:focus{
    color: #2196F3;
}

/* hero section */

.hero{
background-color: #2F303A;
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}


.hero-button{
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}

.btn{
font-family: inherit;    
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
background-color: transparent;
border: none;
color: #FFFFFF;
background-color: #2196F3;

}
.btn:hover,
.btn:focus {
 background-color: #188CE8;
 color: #FFFFFF;
}

.current-link{
    color: #2196F3;
}

/* section work */

.title-list{
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}

.section-list{
line-height: 1.71;
color: #757575;
}

/* section about */
 
.title-section{

        font-size: 36px;
        line-height: 1.16;
        text-align: center;
}

/* section team */

.title-name{

    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
}

.profession{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
    
        color: #757575;
}

/* footer-section */
.footer-section{
    background-color: #2F303A;
}

.logo-white{
    color: #FFFFFF;;
}


    
address{
    font-style: normal;
}


/* section portfolio */


.btn-portfolio{
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: #212121;
        background-color: #F5F4FA;
}

.btn-portfolio:hover,
.btn-portfolio:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}

.current{
    background-color: #188CE8;
    color: #FFFFFF;
}
    




.title-portfolio{
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: #212121;
}

.text-portfolio{
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
    
        color: #757575;
}

.address{
font-style: normal;
}
.footer-address {
    font-size: 14px;
    line-height: 1,7;
    color: #FFFFFF;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}